html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.navbar {
    position: fixed; 
    top: 0;         
    left: 0;
    width: 100%;     
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    border-bottom: 2px solid white;
    background-color: rgb(41, 27, 53);
}

a{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

.left-cont{
    display: flex;
}

.rigth-cont{
    display: flex;
    float: right;
}

.left-cont p,a{
    text-decoration: none;
    margin-left: 20px;
    color: azure;
}

.rigth-cont p{
    color: azure;
    text-decoration: none;
    margin-right: 20px;
}

.left-cont,.rigth-cont p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.mainbox p,h1,ul,li{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

.mainbox{
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.sec-first{
    display:flex;
    justify-content: space-between;
}

.sec-first-left h1 p{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

.btn-box{
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
    justify-content: space-between;
}

.btn-box a{
    text-decoration: none;
}

.btn-github{
    margin-left: 50px;
}


.btn-res{
    margin-right: 200px;
}

.btn-github,.btn-res{
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif
}


.btn-res:hover{
    border: 1px solid purple;
    font-size: 25px;
    color: white;
    background-color: orange;

}

.btn-github:hover{
    border: 1px solid purple;
    font-size: 25px;
    color: white;
    background-color: orange;
}

.sec-serv h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

.sec-serv p{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    font-size: 20px;
}

.web,.andr,.java,.pyth{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    width: 300px;
}

.devbox{
    display: flex;
    justify-content: space-between;
}


/* .web{
    background-image: url(web.png);
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.p-web-cont-div{

}  */

.web img{
    margin-top: 8px;
    margin-left: 0px;
    height: 250px;
    width: 280;
    border-radius: 10px;
}

.andr img{
    margin-top: 8px;
    margin-left: 0px;
    height: 250px;
    width: 280;
    border-radius: 10px;
}

.java img{
    margin-top: 8px;
    margin-left: 0px;
    height: 250px;
    width: 280;
    border-radius: 10px;
}

.pyth img{
    margin-top: 8px;
    margin-left: 10px;
    height: 250px;
    width: 280;
    border-radius: 10px;
}

.web,.andr,.java,.pyth p{
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.webbtn{
    margin-top: -10px;
    margin-left: 0px;
    width: 250px;
    height: 50px;
}

.andrbtn{
    margin-top: -10px;
    margin-left: 0px;
    width: 250px;
    height: 50px; 
}

.javabtn{
    margin-top: -10px;
    margin-left: 0px;
    width: 250px;
    height: 50px; 
}

.pythbtn{
    margin-top: -10px;
    margin-left: 27px;
    width: 250px;
    height: 50px;
}

.webbtn,.andrbtn,.javabtn,.pythbtn{
   border-radius: 10px;
   border: none;

}

.webbtn:hover{
    border: 2px solid rgb(255, 255, 255);
    font-size: 15px;
    color: white;
    background-color: orange;
}

.andrbtn:hover{
    border: 2px solid rgb(255, 255, 255);
    font-size: 15px;
    color: white;
    background-color: orange;
}

.javabtn:hover{
    border: 2px solid rgb(255, 255, 255);
    font-size: 15px;
    color: white;
    background-color: orange;
}

.pythbtn:hover{
    border: 2px solid rgb(255, 255, 255);
    font-size: 15px;
    color: white;
    background-color: orange;
}

.web:hover{
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

.andr:hover{
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

 .java:hover{
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

 .pyth:hover{
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

 .sec-three h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
 }

 .abtbox{
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between; 
  
 }

 .abtcontbtn{
    display: flex;
    align-content: space-between;
 }

 .abtbtns{
    font-weight: 600;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border: none;
    margin: 10px;
 }

 .abtbtns:hover{
    border: 2px solid rgb(255, 255, 255);
    font-size: 25px;
    color: white;
    background-color: orange;
 }

.abtleft{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 100%;
    /* position: relative; */
    padding: 10px;
    height: 800px;
    width: 600px;
}

.abtleft h1{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    color: #ffffff;
}

.abtright{
    padding: 10px;
    width: 600px;
}

/* .abtleft p li{
    font-size: large;
    font-size: 20px;

} */

/* .prolist{
    font-size: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
} */

.abtright img{
    border-radius: 10px;
    height: 800px;
    width: 600px;
}

.sklbox{
    height: 500px;
    
}

.sklleft img{
    align-content: space-between;
    border-radius: 10px;
    margin-left: 100px;
    float: left;
    padding: 20px;
}

.sklleft p{
    margin-left: 500px;
}

.sec-ski h1{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

.webbox{
    display: flex;
    align-items: flex-start;
    margin-left: 130px;
}

.sklweb img{
    border-radius: 10px;
}


.webskltext{
    width: 500px;
    margin-left: 20px;
}

.webskltext h1{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

.listwebskl ul{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

.sklandrbox{
    display: flex;
    align-items: flex-start;
    margin-top: 20px
}

.sklandrimg img{
    border-radius: 10px;
    margin-left: 130px;
    height: 400px;
    width: 640px;
}

.sklandrtext{
    margin-left: 20px;
}

/* .sklandrtext h1 p ul{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
} */

.footerbox{
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(41, 27, 53);
}

.fhading h1{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    text-align: center;
}

.contme{
    text-align: center;
}

.formparentdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formdiv{
    padding: 10px;
    color: azure;
    width: auto;
    height: auto;
    border: solid 1px white;
    border-radius: 10px;
}

.name{
    display: flex;
    align-content: space-between;
    margin-bottom: 20px;
    /* font-size: 20px; */
}

.fname_text{
    margin-right: 50px;
}

.fname_text, .lname_text{
    width: 200px;
    height: 30px;
}

.emailbox, .msgdiv,.name{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.emailtext{
    width: 450px;
    height: 30px;
}

.msgdiv{
    margin-top: 20px;
}

.textareabox{
    width: 450px;
}

.btnparrent{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subbtn{
    height: 40px;
    width: 120px;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin-bottom: 10px;
}

.insta,.git,.fb{
    height: 50px;
}
